/* STYLE */

a {
	color: #b90041;
	text-decoration: none;
	font-size: 20px;
}

header {
	height: 100px;
}

h3 {
	color: #b90041;
}

footer {
	height: 50px;
}

hgroup {
	margin-top: 40px;
}

nav {
	position: fixed;
	clear: both;
	color: gray;
	background-color: #aeaca8;
	height: 50px;
	width: 100%;
	max-width: 1800px;
	min-width: 1200px;
}

nav ul {
	text-align: center;
	margin: 0px;
	padding: 15px 10px 10px 35px;
}

nav li {
	display: inline;
	margin-right: 80px;
}

section {
	clear: both;
	margin: 20 auto;
	padding: 1px;
	background-color: white;
	width: 1000px;
	border-right: 1px solid #eeeeee;
	border-radius: 15px;
}

figure {
	float: left;
	max-width: 300px;
	max-height: 230px;
	padding: 5px;
	margin: 5px;
	overflow: hidden;
}

figcaption {
	color: gray;
	font-size: 90%;
	text-align: left;
	margin: 5px;
}

header, 
section, 
nav, 
article, 
figure, 
figcaption,
footer {
	display: block;
} 

/* STRUCTURE */
body {
	width: 100%;
	max-width: 1800px;
	min-width: 1200px;
	margin: 0 auto;
}

#food {
	background-image: url("images/wood.jpg");
	background-position: center;
}

/* Other/About Me Structure*/

.row {
	width: 1200px;
	height: 300px;
	margin: 20 auto;
	padding: 0 auto;
	overflow: visible;
}